$background-image: url(../img/header_background_v2.jpg);
$font: normal 18px/26px "Palatino Linotype", "Book Antiqua", Palatino, serif;
$header-font-color: #FF5722;
$navigation-border-color: #CFD8DC;
$header-button-color: #0401AC;
$search-border-color: #CFD8DC;
$search-placeholder-color: grey;
$section-h1-color: #757575;
$article-background-color: white;
$post-description-color: #C3C3D4;
$article-h3-color: #607D8B;
$article-text-color: #757575;
$form-label-color: #607D8B;
$page-background-color: #EFEFEF;
$about-text-color: #757575;