$background-image: url(../img/header_background_v1.jpg);
$font: normal 300 15px/24px Roboto, Ubuntu, Cantarell, Helvetica, sans-serif;
$header-font-color: #ECECEC;
$navigation-border-color: #607D8B;
$header-button-color: #01ACAC;
$search-border-color: #607D8B;
$search-placeholder-color: black;
$section-h1-color: #010F16;
$article-background-color: #EFEFEF;
$post-description-color: #E90303;
$article-h3-color: #0097A7;
$article-text-color: #010F16;
$form-label-color: #0097A7;
$page-background-color: white;
$about-text-color: #010F16;